*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color:white;
}

.nav{
    width: 100%;
    height: 60px;
    background-color: black;
}

.nav > ul{
    width: 100%;
    height: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav > ul > li{
    display: inline-block;
    margin: 0px 15vw;
}

.nav > ul >li > a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.content{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.content > h2{
    background-color: rgba(0,0,0,0.5);
    padding: 8px 50px;
    color: #fff;
    border-radius: 5px;
}

.content > button{
    width: 150px;
    padding: 7px;
    font-size: 2.7vh;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    color: #111;
    background-color: rgba(255,165,0);
    cursor: pointer;
    border-radius: 5px;
}





/* //for hex  */
.content2{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
}

.content2 > h2{
    background-color: rgba(0,0,0,0.5);
    padding: 8px 50px;
    color: #fff;
    border-radius: 5px;
}

.content2 > button{
    width: 150px;
    padding: 7px;
    font-size: 2.7vh;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    color: #111;
    background-color: rgba(255,165,0);
    cursor: pointer;
    border-radius: 5px;
}

button{
    transition-duration: .5s;
}


button:hover{
    background-color: #111;
    color: #fff;
}

a{
    transition-duration: .5s;
    background-color: rgb(67, 65, 65);
    padding: 4px 15px;
    text-align: center;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    background-color: rgba(255,165,0);
    color: #111;
}
